.headline{
  font-family: $spacemono;
  font-size: 32px;
  font-weight: bold;
  color: white;
  line-height: 1.09;
  margin: 0 0 40px;
  width: 100%;

  @include res(tablet){
    text-align: center;
    font-size: 52px;
  }

  @include res(xlarge){
    font-size: 68px;
    margin-bottom: 180px;
  }

  &--color{

    &-black{
      color: black;
    }
  }

}