.href{
  color: $very-light-brown;
  font-family: $spacemono;
  font-size: 24px;
  text-decoration: none;

  a{
    text-decoration: none;
  }

  span{
    cursor: pointer;
    text-decoration: underline;
    font-weight: bold;

    @include res(desktop){

      &:hover{
        text-decoration: none;
      }
    }
  }


}