.button {
  border-radius: 30px;
  text-decoration: none;
  outline: none;
  border: none;
  text-align: center;
  cursor: pointer;
  color: $greyish-brown-two;
  background: $sand;
  transition: background .3s;
  box-sizing: border-box;
  padding: 0 14px;
  width: 100%;
  font-size: 18px;
  line-height: 37px;
  height: 37px;
  min-width: 230px;
  -webkit-tap-highlight-color: transparent;

  @include res(tablet){
    width: 230px;
    height: 56px;
    line-height: 56px;
    font-size: 24px;
  }

  @include res(desktop) {

    &:hover {
      background: $grey-light;
    }

    &:active {
      background: $grey-light;
    }
  }

  &-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;

    @include res(tablet){
      width: auto;
    }
  }
}