.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include res(tablet){
    width: auto;
  }

  &__item{
    text-decoration: none;
    color: $brownish-grey;
    font-family: $worksans;
    font-size: 14px;

    @include res(tablet){
      margin-right: 27px;

      &:last-of-type{
        margin-right: 0;
      }
    }

    @include res(desktop){
      font-size: 16px;
    }

    &.active{
      color: $brownish-grey-two;
    }
  }
}