.data-period{
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;

  @include res(tablet){
    display: flex;
    order: 1;
    width: 100%;
    margin-bottom: 33px;
  }

  @include res(xlarge){
    width: 42%;
    padding-top: 15px;
    align-self: flex-start;
  }

  &__item{
    margin-right: 20px;
    color: $warm-grey;
    font-size: 16px;
    line-height: 2.13;
    cursor: pointer;
    transition: color .3s;

    &.active{
      color: white;
    }

    @include res(desktop){

      &:hover{
        color: white;
      }
    }
  }
}