.data{
  padding: 45px 0 110px;
  position: relative;
  @include grey-darkest-gradient;

  @include res(tablet){
    padding: 141px 0 145px;
  }

  @include res(xlarge){
    padding: 137px 0 212px;
  }

  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: -37px auto 0;
    background: url("../assets/images/lemon.png")no-repeat center;
    background-size: cover;
    width: 128px;
    height: 130px;

    @include res(tablet){
      width: 166px;
      height: 170px;
      margin-top: -50px;
    }

    @include res(xlarge){
      width: 240px;
      height: 250px;
      margin-top: -80px;
    }
  }

  &__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__row{
    font-family: $spacemono;
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    line-height: 1.3;
    color: white;

    @include res(tablet){
      font-size: 24px;
      align-items: center;
    }

    @include res(xlarge){
      width: 42%;
    }


    &:nth-of-type(2){
      order: 0;
      margin-bottom: 25px;

      @include res(tablet){
        margin-bottom: 15px;
      }

      @include res(xlarge){
        margin-bottom: 50px;
      }
    }

    &:nth-of-type(n + 3){
      order: 2;
      margin-bottom: 73px;

      @include res(tablet){
        margin-bottom: 35px;
      }

      @include res(xlarge){
        margin-bottom: 105px;
      }
    }

    &:nth-of-type(5){

      @include res(xlarge){
        margin-bottom: 0;
      }
    }

    &:last-of-type{
      margin-bottom: 0;
    }
  }

  &__field{
  }

  &__value{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.3;

    @include res(tablet){
      font-size: 54px;
      letter-spacing: -2.4px;
    }
  }

}