$figure-shift-mobile: 40px;
$banner-wrapper-mobile: 213px;
$banner-info-mod: '.banner--infoless';
$banner-faq-mod: '.banner--faq';
$banner-stats-mod: '.banner--stats';

.banner{
  background: $blackest;
  padding-top: 78px;
  padding-bottom: 29px;
  position: relative;
  overflow: hidden;

  @include res(tablet){
    padding-top: 101px;
    padding-bottom: 190px;
  }

  @include res(desktop){
    padding-bottom: 190px;
    //height: 100%;
  }

  @include res(xlarge){
    padding-bottom: 280px;
  }

  @include res(xxlarge){
    padding-top: 160px;
  }

  &--infoless{
    overflow: hidden;
  }

  // faq mod
  &--faq{
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;

    @include res(tablet){
      padding-bottom: 130px;
    }

    @include res(xlarge){
      padding-bottom: 168px;
    }

    &:after{
      content: '';
      position: absolute;
      top: 100%;
      right: 30px;
      background: url("../assets/images/icons/talk-black.svg")no-repeat;
      background-size: contain;
      transform: rotate(90deg) scale(1, -1);
      width: 23px;
      height: 22px;

    }
  }

  &--stats{
    padding-bottom: 91px;

    @include res(tablet){
      padding-bottom: 120px;
    }

    @include res(xlarge){
      padding-bottom: 200px;
    }

    &:after{
      content: '';
      position: absolute;
      z-index: 1;
      width: 100%;
      left: 0;
      right: 0;
      bottom: -2px;
      margin: auto;
      height: 91px;
      background: url("../assets/images/stats/stats-wave-desktop.svg")no-repeat center bottom;
      //background-size: contain;

      @include res(tablet){
        height: 157px;
      }

      @include res(desktop){
        background: url("../assets/images/stats/stats-wave-fhd.svg")no-repeat center;
      }

      @include res(xlarge){
        height: 280px;
      }

      @include res(uwhd){
        height: 490px;
        background: url("../assets/images/stats/stats-wave-imac.svg")no-repeat center bottom;
      }
    }

  }

  &__container{
    position: relative;

    @include res(tablet){
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;
    }

    #{$banner-info-mod} &{
      position: static;
    }

    #{$banner-stats-mod} &{

      @include res(xlarge){
        position: relative;
      }
    }
  }

  &__headline{
    font-family: $spacemono;
    text-transform: uppercase;
    color: $brownish-grey;
    line-height: 0.86;
    font-weight: bold;
    font-size: 58px;
    margin: 0 auto;
    width: $banner-wrapper-mobile;

    @include res(tablet){
      width: 100%;
      font-size: 72px;
      text-align: center;
      margin-bottom: 36px;
    }

    @include res(desktop){
      font-size: 9.5vw;
      text-align: left;
    }

    @include res(xlarge){
      font-size: 160px;
      margin-bottom: 80px;
    }

    // infoless mod
    #{$banner-info-mod} &{
      margin: 0;

      @include res(tablet){
        text-align: left;

      }
    }
  }

  &__slogan{
    font-size: 17px;
    font-weight: normal;
    color: $putty;
    position: relative;
    border-bottom: 1px solid $greyish-brown;
    margin: 0;
    line-height: 1.41;
    padding: 15px 0;
    text-align: center;

    @include res(phone){

      br{
        display: none;

        #{$banner-info-mod} &{
          display: block;
        }
      }
    }

    @include res(tablet){
      color: $putty;
      font-size: 29px;
      line-height: 1.2;
      max-width: 33%;
      width: 100%;
      text-align: left;
      border-bottom: none;

      #{$banner-info-mod} &,
      #{$banner-stats-mod} &{
        max-width: 100%;
      }

      span{
        //width: 233px;
        display: block;

        #{$banner-stats-mod} &{
          width: 285px;

          br{
            display: none;
          }
        }
      }
    }

    @include res(desktop){
      font-size: 30px;
    }

    @include res(xlarge){
      font-size: 50px;
      line-height: 1.3;

      span{
        //width: 352px;

        #{$banner-stats-mod} &{
          width: 475px;
        }
      }
    }

    // infoless mod
    #{$banner-info-mod} &{
      text-align: left;
      border-bottom: none;
    }
  }

  &__figure{
    position: relative;
    margin: -30px auto -90px;
    text-align: center;
    width: 157px;

    &:before{
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: url("../assets/images/winnie/winnie-shadow.png") bottom center no-repeat;
      background-size: contain;
    }


    @include res(tablet){
      order: 1;
      /*max-width: 33%;
      margin-top: -70px;*/
      width: 254px;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -280px;
      margin: auto;
    }

    @include res(desktop){
      width: 254px;
      //max-width: 33%;
    }

    @include res(xlarge){
      height: auto;
      width: 450px;
      bottom: -480px;
      //margin-top: -160px;
    }

    &:after{
      //content: '';
      display: block;
      background: url("../assets/images/winnie/winnie-shadow.png") bottom center no-repeat;
      background-size: cover;
      position: absolute;
      width: 80%;
      height: 80px;
      left: 0;
      right: 0;
      opacity: 0.6;
      bottom: -72px;
      margin: auto;
      filter: blur(18px);
    }

    img{
      max-width: 100%;
      max-height: 100%;
      vertical-align: top;
      display: none;
      position: relative;

      &.active{
        display: inline-block;
      }
    }

    // infoless mod
    #{$banner-info-mod} &{
      position: absolute;
      top: 65px;
      margin: 0;
      right: 20px;
      width: 136px;
    }

    #{$banner-faq-mod} &{

      @include res(tablet){
        width: 199px;
        right: 23px;
        top: 100px;
        left: auto;
        bottom: auto;
      }

      @include res(desktop){
        right: 83px;
      }

      @include res(xlarge){
        width: 334px;
      }
    }

    #{$banner-stats-mod} &{
      @include res(tablet){
        width: 246px;
        right: 23px;
        top: 80px;
        left: auto;
        bottom: auto;
      }

      @include res(desktop){
        right: 83px;
      }

      @include res(xlarge){
        width: 361px;
        top: -30px;
      }

      @include res(xxlarge){
        top: -80px;
      }
    }
  }

  &__info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 23px;
    position: relative;

    @include res(tablet){
      order: 1;
      flex-direction: column;
      width: 33%;
      text-align: right;
      align-items: flex-end;
    }

    p{
      margin: 0;
      color: $brownish-grey;

      @include res(xlarge){
        font-size: 23px;
      }

      br{

        @include res(tablet){
          display: none;
        }
      }

    }

    h4{
      margin: 0;
      color: white;
      font-size: 42px;
      font-weight: normal;

      @include res(tablet){
        font-size: 54px;
      }

      @include res(xlarge){
        font-size: 95px;
      }
    }
  }
}