.benefits-list{

  &__item{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 49px;

    @include res(tablet){
      width: 430px;
      margin: 0 auto 240px;
    }

    @include res(xlarge){
      width: 550px;
      margin: 0 auto 320px;
    }

    &:last-of-type{
      margin-bottom: 0;
    }

    figure{
      width: 39px;
      min-width: 39px;
      margin: 0 37px 0 0;

      @include res(tablet){
        min-width: 70px;
        width: 70px;
      }

      @include res(xlarge){
        min-width: 87px;
        width: 87px;
        margin-right: 57px;
      }

      img{
        width: 100%;
        vertical-align: top;
      }
    }

    p{
      font-size: 16px;
      line-height: 1.19;
      margin: 0;

      @include res(tablet){
        font-size: 18px;
        line-height: 1.61;
      }

      @include res(xlarge){
        font-size: 22px;
        line-height: 1.64;
      }
    }
  }
}