.benefits{
  @include container;
  padding-top: 57px;
  padding-bottom: 66px;

  @include res(tablet){
    padding-top: 100px;
    padding-bottom: 130px;
  }

  @include res(desktop){
    padding-top: 100px;
    padding-bottom: 130px;
  }

  @include res(xlarge){
    padding-top: 150px;
    padding-bottom: 225px;
  }

  &__headline{
    font-family: $spacemono;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.09;
    margin: 0 0 14px;
    max-width: 200px;

    @include res(tablet){
      font-size: 52px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      text-align: center;
      margin-bottom: 25px;
      max-width: 100%;
    }

    @include res(xlarge){
      font-size: 68px;
      margin-bottom: 45px;
    }
  }

  &__desc{
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.2;
    margin-bottom: 40px;

    @include res(tablet){
      max-width: 640px;
      text-align: center;
      font-size: 24px;
      line-height: 1.5;
      margin-bottom: 157px;
    }

    @include res(desktop){
      margin: 0 auto 157px;
    }

    @include res(xlarge){
      max-width: 100%;
      font-size: 36px;
      line-height: 1.44;
      margin-bottom: 170px;
    }
  }



}