.chart-main{
  width: 100%;
  order: 1;
  margin-bottom: 36px;

  @include res(tablet){
    margin-bottom: 42px;
  }

  @include res(xlarge){
    margin-bottom: 102px;
  }

  canvas{
    width: 100%;
    height: 250px;
  }
}