$chances-item: '.chances__item';

.chances{
  background: $blackest;
  padding-top: 60px;
  padding-bottom: 70px;

  @include res(tablet){
    padding-top: 110px;
    padding-bottom: 110px;
  }

  @include res(xlarge){
    padding-top: 190px;
  }

  &__container{

    @include res(tablet){
      display: flex;
      flex-wrap: wrap;
    }

    @include res(xlarge){
      flex-direction: column;
    }
  }

  &__headline{
    font-family: $spacemono;
    font-size: 32px;
    font-weight: bold;
    color: white;
    line-height: 1.09;
    margin: 0 0 40px;
    width: 100%;

    @include res(tablet){
      text-align: center;
      font-size: 52px;
    }

    @include res(xlarge){
      font-size: 68px;
      margin-bottom: 180px;
    }
  }

  &__item{
    margin-bottom: 70px;

    @include res(tablet){
      width: 50%;
      max-width: 50%;
      min-width: 50%;
      box-sizing: border-box;

      &:nth-of-type(1){
        padding-right: 35px;
        text-align: right;
      }

      &:nth-of-type(2){
        padding-left: 35px;

        @include res(xlarge){
          margin: 0 0 0 auto;
        }
      }

    }

    p{
      color: $pinkish-grey-two;
      font-size: 16px;
      line-height: 1.31;
      margin: 0 0 25px;

      @include res(desktop){
        font-size: 18px;
        line-height: 1.61;
        margin-bottom: 35px;
      }

      @include res(xlarge){
        font-size: 22px;
        line-height: 1.73;
        margin-bottom: 45px;
      }

      &:last-of-type{
        margin-bottom: 0;
      }

      span{
        font-weight: bold;
        color: white;
      }
    }
  }

  &__figure{
    margin: 0 0 20px;

    @include res(tablet){
      height: 138px;
      display: flex;
      align-items: flex-end;

      #{$chances-item}:nth-of-type(1) &{
        justify-content: flex-end;
      }
    }

    @include res(xlarge){
      height: auto;
    }

    img{
      max-width: 240px;
      max-height: 138px;
      vertical-align: bottom;

      @include res(xlarge){
        max-width: 400px;
        max-height: 201px;
      }
    }
  }

  &__caption{
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2;
    color: white;

    @include res(desktop){
      font-size: 24px;
      line-height: 1.46;
    }

    @include res(xlarge){
      font-size: 36px;
      line-height: 1.42;
      margin-bottom: 26px;
    }
  }



}