.check-form{
  padding: 34px 0 41px;
  @include grey-darkest-gradient;

  @include res(tablet){
    padding: 60px 0 75px;
  }

  @include res(xlarge){
    padding-top: 100px;
    padding-bottom: 120px;
  }

  &__headline{
    font-family: $spacemono;
    font-size: 32px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.09;
    color: white;
    margin: 0 0 40px;

    @include res(tablet){
      font-size: 52px;
      text-align: center;

      br{
        display: none;
      }
    }

    @include res(xlarge){
      font-size: 68px;
      margin-bottom: 60px;
    }
  }
}