$doubt-faq: '.doubt--faq';
$doubt-stats: '.doubt--stats';

.doubt{

  &__headline{
    font-size: 24px;
    font-weight: 500;
    line-height: 1.29;
    text-align: center;
    margin: 0;

    #{$doubt-faq} &{
      margin-bottom: 20px;

      @include res(tablet){
        margin-bottom: 8px;
        br{
          display: none;
        }
      }
    }

    #{$doubt-stats} &{
      @include container;
      margin-bottom: 35px;

      @include res(tablet){
        margin-bottom: 8px;
      }
    }
  }

  &__message{
    text-align: center;


    span{
      display: inline-block;
      margin: 0 20px;
      font-size: 24px;
      font-weight: 500;
      line-height: 1.29;
    }
  }

  &--faq{
    margin-bottom: 35px;
  }

  &--stats{
    margin: 49px 0 35px;
  }

}