.faq{
  @include container;
  padding-top: 28px;
  padding-bottom: 76px;

  @include res(tablet){
    padding-top: 77px;
    padding-bottom: 117px;
  }

  @include res(xxlarge){
    padding-top: 161px;
    padding-bottom: 172px;
  }

  &__item{
    margin-bottom: 48px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include res(tablet){
      margin-bottom: 91px;
    }

    &:last-of-type{
      margin-bottom: 0;
    }
  }

  &__question{
    font-size: 20px;
    font-weight: bold;
    line-height: 1.2;
    border: 1px solid $greyish;
    padding: 12px 18px;
    box-sizing: border-box;
    max-width: 96%;
    border-radius: 4px;
    margin-bottom: 20px;
    position: relative;

    @include res(tablet){
      font-size: 30px;
      font-weight: 500;
      line-height: 1.33;
      padding: 12px 46px 13px;
      margin-bottom: 28px;
      max-width: 70%;
      margin-left: -48px;
    }

    @include res(xxlarge){
      font-size: 44px;
      font-weight: 500;
      line-height: 1.23;
      padding: 18px 60px 17px;
      margin-bottom: 47px;
      max-width: 60%;
    }

    &:before{
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      left: -10px;
      bottom: 10px;
      background: url("../assets/images/icons/talk-grey-left.png")no-repeat center;
      background-size: cover;

      @include res(tablet){
        width: 17px;
        height: 17px;
        left: -17px;
      }
    }

  }

  &__answer{
    align-self: flex-end;
    max-width: 93%;
    box-sizing: border-box;
    padding: 14px 21px 18px;
    border: 1px solid $greyish;
    font-size: 16px;
    color: black;
    line-height: 1.25;
    position: relative;

    @include res(tablet){
      font-size: 18px;
      line-height: 1.67;
      padding: 17px 46px 19px;
      max-width: 78%;
      margin-right: -35px;
    }

    @include res(xxlarge){
      padding: 34px 44px;
      font-size: 22px;
      line-height: 1.59;
      max-width: 68%;
    }

    &:before{
      content: '';
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      right: -10px;
      bottom: 10px;
      background: url("../assets/images/icons/talk-grey-right.png")no-repeat center;
      background-size: cover;

      @include res(tablet){
        width: 17px;
        height: 17px;
        right: -17px;
      }
    }
  }
}