.footer{
  padding-bottom: 50px;

  @include res(tablet){
    padding-bottom: 90px;
  }

  &__figure{
    margin: 0 auto 20px;
    max-width: 200px;
    text-align: center;

    @include res(tablet){
      max-width: 380px;
    }

    @include res(desktop){
      margin-bottom: 60px;
    }

    img{
      width: 100%;
      max-width: 100%;
      vertical-align: top;
    }
  }

  p{
    text-align: center;
    font-size: 12px;
    margin: 0 0 8px;

    @include res(tablet){
      font-size: 14px;
    }

    a{
      color: black;
      text-decoration: none;

      @include res(desktop){

        &:hover{
          text-decoration: underline;
        }
      }
    }
  }

}