.header{
  display: flex;
  justify-content: space-between;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  @include container;
  width: 100%;
  padding-top: 29px;
  z-index: 3;

  @include res(tablet){
    padding-top: 29px;
  }

  &__logo{
    display: none;

    @include res(tablet){
      display: block;
      width: 21px;
    }

    @include res(desktop){
      width: 26px;
    }

    img{
      max-width: 100%;
      vertical-align: top;
    }
  }
}