.join{
  @include container;
  padding-top: 55px;
  padding-bottom: 40px;

  @include res(tablet){
    padding-top: 115px;
    padding-bottom: 55px;
    text-align: center;
  }

  @include res(desktop){
    padding-top: 115px;
    padding-bottom: 55px;
  }

  @include res(xlarge){
    padding-top: 142px;
    padding-bottom: 100px;
  }

  &__headline{
    font-size: 32px;
    font-weight: bold;
    line-height: 1.09;
    color: $black;
    margin: 0 0 28px;
    font-family: $spacemono;

    @include res(tablet){
      font-size: 46px;
      line-height: 1.25;
      margin-bottom: 16px;

      br{
        display: none;
      }
    }

    @include res(desktop){
      font-size: 52px;
    }

    @include res(xlarge){
      font-size: 82px;
      line-height: 1.44;
      margin-bottom: 45px;
    }
  }

  p{
    font-size: 16px;
    line-height: 1.19;
    margin: 0;

    @include res(tablet){
      font-size: 24px;
      line-height: 1.5;
    }

    @include res(xlarge){
      font-size: 36px;
      line-height: 1.44;
    }
  }

  &__clipboard{
    margin-bottom: 17px;
    line-height: 2.4;
    color: $fawn;

    @include res(tablet){
      margin-bottom: 40px;
      font-size: 18px;
      line-height: 2.72;
    }

    @include res(desktop){

      span{
        cursor: pointer;
        transition: color .3s;

        &:hover{
          color: $brownish-grey;
        }
      }
    }

    @include res(xlarge){
      margin-bottom: 20px;
    }
  }
}