.lucky-list{
  margin-top: 20px;

  &__item{
    font-size: 10px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: $brownish-grey-two;
    text-decoration: underline;
    word-break: break-word;
    margin-bottom: 20px;
    max-width: 190px;
    line-height: 1.7;

    &:last-of-type{
      margin-bottom: 0;
    }

    @include res(tablet){
      font-size: 16px;
      line-height: 2.19;
      max-width: 100%;
      margin-bottom: 0;
    }

    @include res(xlarge){
      font-size: 18px;
      line-height: 1.94;
    }
  }

}