.stats-item{
  border-top: 2px solid #c1b394;
  padding: 22px 0 32px;

  &:last-of-type{
    border-bottom: 2px solid #c1b394;
  }

  @include res(tablet){
    padding: 35px 0 41px;

    &:first-of-type{
      border-top: none;
    }
  }

  @include res(xlarge){
    padding: 75px 0;
  }

  &__header{
    display: flex;
    justify-content: space-between;
    align-self: flex-start;

    span{
      font-family: $spacemono;
      font-size: 20px;
      font-weight: bold;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.3;
      color: $black;

      @include res(tablet){
        font-size: 36px;
        font-weight: bold;
        line-height: 1.63;
      }

      @include res(desktop){
        font-size: 48px;
      }

      @include res(xlarge){
        font-size: 68px;
        line-height: 1.15;
      }
    }
  }
}