.stats{
  @include container;
  padding-top: 15px;
  padding-bottom: 54px;

  @include res(tablet){
    padding-top: 37px;
    padding-bottom: 69px;
  }

  @include res(xlarge){
    padding-top: 10px;
    padding-bottom: 110px;
  }

  &__caption{
    font-size: 18px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    margin: 0 0 4px;

    @include res(tablet){
      font-size: 22px;
      font-weight: 600;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.55;
    }

    @include res(xlarge){
      margin-bottom: 0;
      margin-right: 33px;
      font-size: 24px;
      line-height: 1.42;
    }
  }

  &__welcome{
    display: flex;
    flex-direction: column;
    margin-bottom: 37px;

    @include res(tablet){
      margin-bottom: 48px;
    }

    @include res(xlarge){
      flex-direction: row;
      align-items: flex-end;
    }

    span{
      font-size: 10px;
      line-height: 1.7;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      color: $brownish-grey-two;
      text-decoration: underline;
      max-width: 211px;
      word-break: break-word;

      @include res(tablet){
        font-size: 16px;
        line-height: 2.19;
        max-width: 100%;
      }

      @include res(xlarge){
        font-size: 18px;
        line-height: 1.94;
      }
    }
  }

}