$steps: '.steps';
$steps-item: '.steps__item';
$steps-message: '.steps__message';

#{$steps}{
  counter-reset: steps;
  @include container;
  padding-top: 40px;
  padding-bottom: 80px;

  @include res(tablet){
    padding-top: 110px;
    padding-bottom: 220px;
  }

  @include res(desktop){

  }

  @include res(xlarge){
    padding-top: 320px;
  }

  &__item{
    counter-increment: steps;
    margin-bottom: 149px;
    position: relative;

    @include res(tablet){
      margin-bottom: 262px;
    }

    @include res(xlarge){
      max-width: 780px;
      margin: 0 auto 780px;
    }

    &:before{
      content: counter(steps, decimal-leading-zero);
      font-size: 16px;
      font-weight: bold;
      color: $very-light-brown;
      margin-bottom: 12px;
      display: block;

      @include res(tablet){
        font-size: 20px;
        margin-bottom: 26px;
      }

      @include res(xlarge){
        font-size: 30px;
        margin-bottom: 36px;
      }
    }

    &:last-of-type{
      margin-bottom: 0;
    }

    &:nth-of-type(even){
      text-align: right;

      #{$steps-message}{
        margin-right: 0;
        margin-left: auto;
      }
    }
  }

  &__message{
    font-family: $spacemono;
    font-size: 24px;
    color: $black;
    font-weight: bold;
    line-height: 1.17;

    @include res(tablet){
      font-size: 48px;
    }

    @include res(xlarge){
      font-size: 64px;
    }

    #{$steps-item}:nth-of-type(1) &{

      @include res(desktop){
        max-width: 560px;
      }

      @include res(xlarge){
        max-width: 745px;
      }
    }

    #{$steps-item}:nth-of-type(2) &{

      @include res(desktop){
        max-width: 588px;
      }

      @include res(xlarge){
        max-width: 785px;
      }
    }

    #{$steps-item}:nth-of-type(3) &{
      width: 245px;

      @include res(tablet){
        width: 490px;
      }

      @include res(desktop){
        width: auto;
        max-width: 529px;
      }

      @include res(xlarge){
        max-width: 745px;
      }
    }

    #{$steps-item}:nth-of-type(4) &{
      width: 280px;
      margin: 0 0 0 auto;

      @include res(tablet){
        width: 460px;
      }

      @include res(desktop){
        width: auto;
        max-width: 441px;
      }

      @include res(xlarge){
        max-width: 588px;
      }
    }
  }

  &__figure{
    margin: 0;
    position: absolute;

    #{$steps-item}:nth-of-type(1) &{
      right: -20px;
      top: 90%;
      max-width: 140px;
      width: 42%;

      @include res(tablet){
        max-width: 230px;
      }

      @include res(desktop){
        max-width: 310px;
        right: 44px;
        top: 57%;
      }

      @include res(xlarge){
        width: 100%;
        max-width: 450px;
        right: -250px
      }
    }
    #{$steps-item}:nth-of-type(2) &{
      left: -20px;
      top: 60%;
      max-width: 140px;
      width: 42%;

      @include res(tablet){
        max-width: 230px;
      }

      @include res(desktop){
        max-width: 310px;
        left: 50px;
        top: -50px;
      }

      @include res(xlarge){
        width: 100%;
        max-width: 450px;
        left: -130px;
        top: 115px;
      }
    }
    #{$steps-item}:nth-of-type(3) &{
      right: 10px;
      top: -20px;
      max-width: 130px;
      width: 42%;

      @include res(tablet){
        max-width: 230px;
      }

      @include res(desktop){
        max-width: 310px;
        right: 60px;
        top: -50px;
      }

      @include res(xlarge){
        width: 100%;
        max-width: 450px;
        right: -222px;
        top: -65px;
      }
    }
    #{$steps-item}:nth-of-type(4) &{
      left: 20px;
      top: -40px;
      max-width: 140px;
      width: 42%;

      @include res(tablet){
        max-width: 230px;
      }

      @include res(desktop){
        max-width: 310px;
        left: 150px;
        top: -90px;
      }

      @include res(xlarge){
        width: 100%;
        max-width: 450px;
        left: -110px;
        top: -90px;
      }
    }

    img{
      max-width: 100%;
      vertical-align: top;
    }
  }

}