.winners{
  @include container;
  padding-top: 38px;
  padding-bottom: 60px;

  @include res(tablet){
    padding-top: 90px;
    padding-bottom: 130px;
  }

  @include res(desktop){
    padding-top: 90px;
    padding-bottom: 130px;
  }

  @include res(xlarge){
    padding-top: 180px;
    padding-bottom: 130px;
  }

  &__headline{
    font-family: $spacemono;
    font-size: 32px;
    font-weight: bold;
    line-height: 1.09;
    margin: 0 0 40px;
    width: 100%;
    color: black;

    @include res(tablet){
      text-align: center;
      font-size: 52px;

      br{
        display: none;
      }
    }

    @include res(xlarge){
      font-size: 68px;
      margin-bottom: 30px;
    }
  }

  &__list{
    margin-bottom: 30px;

    @include res(tablet){
      margin-bottom: 40px;
    }
  }

  &__item{
    font-size: 10px;
    line-height: 1.7;
    margin-bottom: 20px;

    @include res(tablet){
      text-align: center;
      font-size: 14px;
      margin-bottom: 10px;
    }

    @include res(xlarge){
      font-size: 18px;
      font-weight: normal;
      font-style: normal;
      font-stretch: normal;
      line-height: 2;
      margin-bottom: 0;
    }

    a{
      text-decoration: underline;
      color: $brownish-grey-two;
      word-wrap: break-word;

      &:hover{
        color: $beige;
      }
    }
  }

  &__more{
    text-align: center;
    margin-bottom: 70px;

    visibility: hidden;
    margin-bottom: 50px;

    @include res(tablet){
      margin-bottom: 68px;

      margin-bottom: 50px;
    }

    @include res(xlarge){
      margin-bottom: 150px;

      margin-bottom: 130px;
    }
  }


}