<template>
  <div class="app-container app-container--faq">
    <Banner
      :headline="headline"
      :slogan="slogan"
      :mods="mods"
      :bannerInfo="bannerInfo"
    ></Banner>
    <main class="content">
      <Faq></Faq>
      <div class="doubt doubt--faq">
        <h4 class="doubt__headline">What are you<br> waiting for?</h4>
        <div class="doubt__message">
          <router-link to="stats" class="href">Join now</router-link>
        </div>
      </div>
    </main>
    <Footer></Footer>
  </div>

</template>

<script>
  import Banner from '@/components/Banner.vue'
  import Faq from '@/components/Faq.vue'
  import Footer from '../components/Footer';

  export default {
    name: "faq",
    props: {
      appStyleMod: {
        type: String,
        required: false,
        default: ''
      }
    },
    data() {
      return {
        headline: 'Ask Winnie',
        slogan: 'Frequently asked <br> questions',
        bannerInfo: false,
        mods: 'banner--infoless banner--faq'
      }
    },
    components: {
      Footer,
      Banner,
      Faq
    }
  }
</script>

<style lang="scss">
  @import "../scss/blocks/doubt";
</style>