<template>
  <div v-if="isDataLoaded" class="app-container">

    <Banner
      :headline="bannerHeadline"
      :slogan="bannerSlogan"
      :bannerInfo="bannerInfo"
    ></Banner>

    <main class="content">
      <Steps></Steps>
      <Datas></Datas>
      <Join></Join>
      <CheckStats></CheckStats>
      <Benefits></Benefits>

      <section class="chances">
        <div class="container chances__container">
          <h3 class="chances__headline">What are my chances?</h3>
          <div class="chances__item">
            <figure class="chances__figure">
              <img src="../assets/images/balls.png" alt="">
            </figure>            
            <h4 class="chances__caption">“6 from 49” lottery: pretty low (1 in 13,983,816)</h4>
            <p>In a typical 6/49 game, each player chooses six distinct numbers from a range of 1-49. If the six numbers on a ticket match the numbers drawn by the lottery, the ticket holder is a jackpot winner—regardless of the order of the numbers. </p>
            <p>The probability of this happening is <span>1 in 13,983,816.</span></p>
          </div>
          <div class="chances__item">
            <figure class="chances__figure">
              <img src="../assets/images/winnie/winnie_small.gif" alt="">
            </figure>
            <h4 class="chances__caption">Winniepool lucky draw: damn high (1 in 33)</h4>
            <p>We will auto adjust single payout size according to the number of our users, but in general the situation is following:</p>
            <p>In case of 1.000 Bitmain S9 devices connected (14.5 PH/s total hashing power) mining revenue should be approximately $3.000-$3.300 per day. Assuming that amount of single payout is set to $100, there should be approximately 30 winners per day. </p>
            <p>The probability to be shortlisted in lucky draw and receive $100 payout is <span>1 in 33.</span></p>
          </div>
        </div>
      </section>
      <Winners></Winners>
    </main>
    <Footer></Footer>
  </div>
</template>

<script>
// @ is an alias to /src
import Banner from '@/components/Banner.vue'
import Steps from '@/components/Steps.vue'
import Datas from '@/components/Data.vue'
import CheckStats from '@/components/CheckStats.vue'
import Benefits from '@/components/Benefits.vue'
import Winners from '@/components/Winners.vue'
import Footer from '@/components/Footer';
import Join from '@/components/Join';

export default {
  name: 'home',
  components: {
    Join,
    Footer,
    Banner,
    Steps,
    Datas,
    CheckStats,
    Benefits,
    Winners
  },
  data() {
    return{
      bannerHeadline: 'winnie pool lucky mining',
      bannerSlogan: 'Making mining <br> fun again',
      bannerInfo: true,
      overal: {},
      fakeOveral: {
        "hashrate":20,
        "workers":2,
        "uptime":302,
        "total_payouts":0,
        "paid_in_24hrs":0
      },
      isDataLoaded: false // indicator of loaded data which trigger the page display
    }
  },
  beforeCreate() {
    this.$http.get('overal')
      .then(response => response.json())
      .then( overal => {
        this.$store.dispatch('asyncOveral', overal); // get data to the store
        this.isDataLoaded = true;
      })
      .catch( err => {
        console.log('Error detected: ' + err);
        this.$store.dispatch('asyncOveral', this.fakeOveral); // if problem with json occured fake data will be used
        this.isDataLoaded = true;
      })
  }
}
</script>

<style lang="scss">
  @import "../scss/blocks/join";
  @import "../scss/blocks/chances";
</style>
