<template>

  <div class="app-container">

    <Banner
      :headline="headline"
      :slogan="slogan"
      :bannerInfo="bannerInfo"
      :mods="mods"
    ></Banner>

    <main class="content">

      <template v-if="!login">
        <Join></Join>
        <CheckStats></CheckStats>
      </template>

      <template v-else>
        <Stats></Stats>
      </template>

      <div class="doubt doubt--stats">
        <h4 class="doubt__headline">Got friends with miners gathering dust?</h4>
        <h5 class="doubt__headline">Spread the word!</h5>
      </div>

    </main>

    <Footer></Footer>

  </div>

</template>

<script>

  import Banner from '@/components/Banner.vue'
  import Join from '@/components/Join';
  import CheckStats from '@/components/CheckStats';
  import Footer from '@/components/Footer';
  import Stats from '@/components/Stats'

  export default {
    name: 'Stats-page',
    data() {
      return {
        headline: 'My Stats',
        slogan: 'Where pride<br> meets hope',
        bannerInfo: false,
        mods: 'banner--infoless banner--stats'
      }
    },
    components: {
      Footer,
      CheckStats,
      Join,
      Banner,
      Stats
    },
    computed: {
      login() {
        return this.$store.state.isLogin;
      }
    },
    mounted() {
      console.log(this.login);
    }
  }
</script>
