<template>
  <section :class="'banner ' + mods">
    <div class="container banner__container">
      <h1 class="banner__headline">{{ headline }}</h1>
      <figure
        v-show="loadedFrames.length === frames.length"
        class="banner__figure">
        <img
          v-for="(frame, index) in frames"
          :src="frame"
          @load="loadedFrames.push(index)"
          alt="">
      </figure>
      <h2 class="banner__slogan"><span v-html="slogan"></span></h2>
      <div v-if="bannerInfo" class="banner__info">
        <p>Total payouts <br>(BTC)</p>
        <h4>{{ payouts }}</h4>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: "Banner",
    inheritAttrs: false,
    props: {
      headline: String,
      slogan: String,
      bannerInfo: Boolean,
      mods: {
        type: String,
        required: false,
        default: '',
      }
    },
    data(){
      return{
        payouts: this.$store.state.overal.total_payouts,
        loadedFrames: [],
        frames: [
          require('@/assets/images/winnie/winnie-01.png'),
          require('@/assets/images/winnie/winnie-02.png'),
          require('@/assets/images/winnie/winnie-03.png'),
          require('@/assets/images/winnie/winnie-04.png'),
          require('@/assets/images/winnie/winnie-05.png'),
          require('@/assets/images/winnie/winnie-06.png'),
          require('@/assets/images/winnie/winnie-07.png'),
          require('@/assets/images/winnie/winnie-08.png'),
          require('@/assets/images/winnie/winnie-09.png')
        ]
      }
    },
    mounted() {
      this.winnieAnimate()
    },
    methods: {
      winnieAnimate() {
        const animationLength = this.frames.length;
        let counter = 0,
          animateSpeed = 100,
        figure = this.$el.querySelector('.banner__figure');

        setInterval(() => {

          if( counter === 0 ){
            figure.children[counter].classList.add('active');
            figure.children[animationLength - 1].classList.remove('active');
            counter++;
          } else if ( counter > 0 && counter < animationLength - 1) {
            figure.children[counter - 1].classList.remove('active');
            figure.children[counter].classList.add('active');
            counter++;
          } else if ( counter === animationLength - 1 ){
            figure.children[counter].classList.add('active');
            figure.children[counter - 1].classList.remove('active');
            counter = 0;

          }
        },animateSpeed)

      }
    }
  }
</script>

<style lang="scss">
  @import "../scss/blocks/banner";
</style>