<template>
  <section class="benefits">
    <h3 class="benefits__headline">{{ headline }}</h3>
    <div class="benefits__desc">{{ description }}</div>
    <div class="benefits-list">
      <div v-for="benefit in benefits" class="benefits-list__item">
        <figure><img :src="benefit.icon" alt=""></figure>
        <p>{{ benefit.text }}</p>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: "Benefits",
    data() {
      return{
        headline: 'Works like a charm',
        description: 'Winniepool is an anonymous BTC mining service with daily payouts based on lucky draw. It’s the second life of your dusty mining hardware.',
        benefits: [
          {
            text: 'Winniepool automatically takes your BTC address as payouts address.',
            icon: require('@/assets/images/benefits/1.svg')
          },
          {
            text: 'Lucky draw and payment schedule: once per day.',
            icon: require('@/assets/images/benefits/2.svg')
          },
          {
            text: '90% of mining revenues from all Winniepool users get directly to few lucky draw winners.',
            icon: require('@/assets/images/benefits/3.svg')
          },
          {
            text: 'Your device should be not less 3 TH/s (SHA256) capable to qualify for participation in lucky draw.',
            icon: require('@/assets/images/benefits/4.svg')
          },
          {
            text: 'Winners BTC addresses and transaction links will be published on our website every day.',
            icon: require('@/assets/images/benefits/5.svg')
          },
          {
            text: 'Just keep your device up and running and check your BTC balance every day.',
            icon: require('@/assets/images/benefits/6.svg')
          }
        ]
      }
    }
  }
</script>

<style lang="scss">
  @import "../scss/blocks/benefits";
  @import "../scss/blocks/benefits-list";
</style>