<template>
  <section class="check-form">
    <div class="container">
      <h3 class="check-form__headline" v-html="headline"></h3>

      <form class="form" @submit.prevent="checkBTC">
        <div class="form__inner">
          <div class="form__row">
            <div class="form__fieldset">
              <input
                type="text"
                required
                v-model.lazy.trim="btc"
                @input="isLegal = true"
              >
              <span class="bar"></span>
              <label>Enter your BTC address here</label>
            </div>
          </div>
          <div class="button-wrapper">
            <button class="button">Check</button>
          </div>
        </div>
        <div
          class="form__warning"
          :class="{active: !isLegal}"
        ><p>Your BTC isn't present in our system. Please, join first!</p></div>
      </form>

    </div>
  </section>
</template>

<script>
  export default {
    name: "CheckStats",
    data() {
      return {
        headline: 'Check<br> your stats',
        btc: '',
        isLegal: true
      }
    },
    methods: {
      checkBTC() {
        this.$http.get(`by_user/${this.btc}`)
          .then( response => response.json())
          .then( user => {

            if ( user.current_cr === null ) {
              this.isLegal = false
            } else {
              localStorage.setItem('login', this.btc);
              this.$store.state.userName = this.btc;
              this.$store.state.isLogin = true;
              this.$router.push('/stats');
            }
          })
      }
    }
  }
</script>

<style lang="scss">
  @import "../scss/components/form";
  @import "../scss/components/button";
  @import "../scss/blocks/check-form";
</style>