<template>
  <section class="data">
    <div class="container data__container">
      <ul class="data-period">
        <li class="data-period__item"
            v-for="(period, index ) in periods"
            :class="{active: activePeriodIndex === index}"
            @click="getChartData(period, index)"
        >{{ period }}</li>
      </ul>
      <bar-chart
        v-if="isChartDataLoaded"
        class="chart-main"
        :chartData="chartData"
      />
      <div class="data__row">
        <div class="data__field">Hashrate (PH/s)</div>
        <div class="data__value">{{ overal.hashrate }}</div>
      </div>
      <div class="data__row">
        <div class="data__field">Workers</div>
        <div class="data__value">{{ overal.workers }}</div>
      </div>
      <div class="data__row">
        <div class="data__field">Uptime</div>
        <div class="data__value">{{ overal.uptime }}</div>
      </div>
      <div class="data__row">
        <div class="data__field">Total payouts (BTC)</div>
        <div class="data__value">{{ overal.total_payouts }}</div>
      </div>
      <div class="data__row">
        <div class="data__field">Paid in last 24hrs (BTC)</div>
        <div class="data__value">{{ overal.paid_in_24hrs }}</div>
      </div>
    </div>
  </section>
</template>

<script>
  import BarChart from './BarChart'

  export default {
    name: "Datas",
    components: {
      BarChart
    },
    data() {
      return {
        isChartDataLoaded: false,
        activePeriodIndex: 0,
        chartDates: [],
        chartValues: [],
        overal: this.$store.state.overal,
        chartData: null,
        period: '1hour',
        gradient: null,
        gradientReady: false,
        periods: [
          '1 hour',
          '6 hours',
          '12 hours',
          '1 day',
          '7 days',
          '30 days'
        ],
        commonData: [
          {
            field: 'Hashrate (PH/s)',
            value: this.hashrate
          },
          {
            field: 'Workers',
            value: this.workers
          },
          {
            field: 'Uptime',
            value: this.uptime
          },
          {
            field: 'Total payouts (BTC)',
            value: 6.217
          },
          {
            field: 'Paid in last 24hrs (BTC)',
            value: 0.420
          }
        ]
      }
    },
    methods: {
      getChartData(period, index) {
        // prevent to request active period
        if ( index === this.activePeriodIndex ) return;
        // remove spaces to fit api url
        this.period = period.replace(/\s/g, '');
        // mark clicked period as active
        this.activePeriodIndex = index;
        // get data from the API
        this.getDataFromAPI(index);
      },
      getDataFromAPI(index){
        this.$http.get(this.period)
          .then(response => response.json())
          .then(data => {

            // clear current values
            this.chartDates = [];
            this.chartValues = [];

            for (let i = 0; i < data.data.length; i++) {
              if( index <= 2 ){
                this.chartDates.push(new Date(data.data[i][0]*1000).getHours() + ':00');
              } else if ( index > 2 && index < 5){
                this.chartDates.push(new Date(data.data[i][0]*1000).toLocaleString('en-us', { weekday: 'long' }));
              } else {
                this.chartDates.push(new Date(data.data[i][0]*1000).toLocaleString('en-us', { month: 'long' }));
              }

              this.chartValues.push(data.data[i][1]);
            }

            this.isChartDataLoaded = true;

            this.updateChart();

          });
      },
      updateChart() {
        this.chartData = {
          labels: this.chartDates,
          datasets: [
            {
              label: 'Hashrate',
              backgroundColor: '#ECD07B',
              data: this.chartValues
            }
          ]
        }
      }
    },
    mounted() {
      this.getDataFromAPI(this.activePeriodIndex);
    }
  }
</script>

<style lang="scss">
  @import "../scss/blocks/data/data";
  @import "../scss/blocks/data/data-period";
  @import "../scss/blocks/chart-main";
</style>