<template>
  <section class="faq">
    <div v-for="faq_item in faq" class="faq__item">
      <div class="faq__question">{{ faq_item.question }}</div>
      <div class="faq__answer">{{ faq_item.answer }}</div>
    </div>
  </section>
</template>

<script>

  export default {
    name: "Faq",
    data() {
      return {
        faq: [],
        faqUrl: document.location.origin
      }
    },
    mounted() {
      this.resource.get()
        .then( responce => {
        return responce.json()
      })
        .then( faqList => {
          this.faq = faqList;
        })
    },
    created() {
      this.resource = this.$resource(this.faqUrl + '/faq.json')
    }
  }
</script>

<style lang="scss">
  @import "../scss/blocks/faq";
</style>
