<template>
  <footer class="footer">
    <figure class="footer__figure">
      <img :src="image" alt="">
    </figure>
    <p>Contact us: <a :href="'mailto:' + contact">{{ contact }}</a></p>
    <p>(c) Winnie Pool, 2019</p>
  </footer>
</template>

<script>
  export default {
    name: "Footer",
    data() {
      return{
        image: require('@/assets/images/tothemoon.png'),
        contact: 'hello@winniepool.com'
      }
    }
  }
</script>

<style lang="scss">
  @import "../scss/blocks/footer";
</style>