<template>
  <section id="join" class="join">
    <h3 class="join__headline">Joining<br> is easy-peasy!</h3>
    <p>Mining URL: {{ miningUrl }}</p>
    <input class="copyTarget" type="hidden" :value="miningUrl">
    <div class="join__clipboard" @click="copyToClipboard"><span>(click to copy to clipboard)</span></div>
    <p>Set your username to your BTC address with any or even
      no worker extension, and any password.</p>
  </section>
</template>

<script>
  export default {
    name: "Join",
    data() {
      return {
        miningUrl: 'sha.winniepool.com:4333'
      }
    },
    methods: {
      copyToClipboard() {

        const textToCopy = this.$el.querySelector('.copyTarget');
        textToCopy.setAttribute('type', 'text');
        textToCopy.select();

        try {
          let successful = document.execCommand('copy');
          let msg = successful ? 'successful' : 'unsuccessful';
          console.log('Testing code was copied ' + msg);
        } catch (err) {
          console.log('Oops, unable to copy');
        }

        textToCopy.setAttribute('type', 'hidden');
        window.getSelection().removeAllRanges();


      },
      showTips() {
        console.log('works fine');
      }
    }
  }
</script>

<style scoped>

</style>