<template>
  <section class="stats">
    <div class="stats__welcome">
      <h3 class="stats__caption">Nice to see you again,</h3>
      <span>{{ name }}</span>
    </div>
    <div class="stats-item">
      <header class="stats-item__header">
        <span>Current hashrate</span>
        <span>{{ hashrate }}</span>
      </header>
    </div>
    <!--<bar-chart
      v-if="isChartDataLoaded"
      class="chart-main"
      :chartData="chartData"
    />-->
    <!--<div class="stats-item">
      <header class="stats-item__header">
        <span>Your lucky draws</span>
        <span>{{ luckyDraw }}</span>
      </header>
      <div class="lucky-list" >
        <div class="lucky-list__item" v-for="lucky in luckyList">{{ lucky }}</div>
      </div>
    </div>-->
    <div class="stats-item">
      <header class="stats-item__header">
        <span>Your miners</span>
        <span>{{ miners }}</span>
      </header>
    </div>
  </section>
</template>

<script>
  import BarChart from './BarChart'

  export default {
    name: "Stats",
    components: {
      BarChart
    },
    data() {
      return{
        name: this.$store.state.userName,
        hashrate: '',
        luckyDraw: '1.6 BTC',
        luckyList: [
          '1c12443203a48f42cdf7b1acee5b4b1c1fedc144cb909a3bf5edbffafb0cd204',
          '4d7c078f3dd5511a4d3f9f617d7ef1dd5f42232bf1659e7fc42da556f89cd078',
          '80210cdb8234db477f248266d638bd97cbf935a96e401c5a320865d88592fa6d'
        ],
        miners: '',
        chartDates: [],
        chartValues: [],
        chartData: null,
        isChartDataLoaded: false
      }
    },
    mounted() {
      this.getUserStats(this.name);
      // this.getDataFromAPI();
    },
    methods: {
      getUserStats(user){
        this.$http.get(`by_user/${user}`)
          .then( response => response.json())
          .then( userData => {
            this.hashrate = userData.current_cr + ' TH/s';
            this.miners = userData.current_workers;
            this.name = user;
            window.scrollTo(0, 0);
          })
      },
      getDataFromAPI(){
        // test mode to show the chart
        // after api would be ready a data will be fetch via getUserStats
        this.$http.get('1hour')
          .then(response => response.json())
          .then(data => {

            for (let i = 0; i < data.data.length; i++) {
              this.chartDates.push(new Date(data.data[i][0]*1000).getHours() + ':00');
              this.chartValues.push(data.data[i][1]);
            }

            this.isChartDataLoaded = true;

            this.updateChart();

          });
      },
      updateChart() {
        this.chartData = {
          labels: this.chartDates,
          datasets: [
            {
              label: 'Hashrate',
              backgroundColor: 'rgba(221, 189, 119, 1)',
              data: this.chartValues
            }
          ]
        }
      }
    }
  }
</script>

<style lang="scss">
  @import "../scss/blocks/stats";
  @import "../scss/blocks/stats-item";
  @import "../scss/blocks/lucky-list";

</style>