<template>
  <section class="steps">
    <div v-for="(step, index) in steps" class="steps__item">
      <div class="steps__message">{{ step.message }}</div>
      <figure class="steps__figure">
        <img :src="step.image" alt="">
      </figure>
    </div>
  </section>
</template>

<script>
  export default {
    name: "Steps",
    data() {
      return {
        steps : [
          {
            message: 'Configure your miner to join our pool',
            image : require('@/assets/images/steps/steps-1.png')
          },
          {
            message: 'Get selected in the daily lucky draw',
            image : require('@/assets/images/steps/steps-2.png')
          },
          {
            message: 'Win your cut from the overall mining revenue',
            image : require('@/assets/images/steps/steps-3.png')
          },
          {
            message: 'Buy your golden slice of pizza',
            image : require('@/assets/images/steps/steps-4.png')
          }
        ]
      }
    }
  }
</script>

<style lang="scss">
  @import "../scss/blocks/steps";
</style>