<template>
  <section class="winners">
    <h3 class="winners__headline">Previous <br>winners</h3>
    <div class="winners__list">
      <div v-for="winner in winners" class="winners__item">
        <a target="_blank" :href="`https://www.blockchain.com/btc/tx/${winner}`">{{ winner }}</a>
      </div>
    </div>
    <div class="href winners__more"><span>More</span></div>
    <div class="doubt">
      <h4 class="doubt__headline">Still in doubt?</h4>
      <div class="doubt__message">
        <router-link to="/faq" class="href"><span>Read FAQ</span></router-link>
        <span>or</span>
        <a href="#join" class="href" v-scroll-to="'#join'"><span>Join now</span></a>
      </div>
    </div>
  </section>
</template>

<script>
  export default {
    name: "Winners",
    data(){
      return {
        winners: [],
        winnersUrl: document.location.origin
      }
    },
    methods: {
      goFAQ() {
        this.$router.push('/faq')
      }
    },
    mounted() {
      this.resource.get()
        .then(response => {
          return response.json()
        })
        .then( winners => {
          this.winners = winners
        })
    },
    created() {
      this.resource = this.$resource(this.winnersUrl + '/winners.json')
    }
  }
</script>

<style lang="scss">
  @import "../scss/blocks/winners";
  @import "../scss/blocks/doubt";
</style>