//Space mono
@font-face {
  font-family: 'Space Mono';
  src: url('../assets/fonts/space_mono/hinted-SpaceMono-Regular.woff2') format('woff2'),
  url('../assets/fonts/space_mono/hinted-SpaceMono-Regular.woff') format('woff'),
  url('../assets/fonts/space_mono/hinted-SpaceMono-Regular.svg#SpaceMono-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Space Mono';
  src: url('../assets/fonts/space_mono/hinted-SpaceMono-Bold.woff2') format('woff2'),
  url('../assets/fonts/space_mono/hinted-SpaceMono-Bold.woff') format('woff'),
  url('../assets/fonts/space_mono/hinted-SpaceMono-Bold.svg#SpaceMono-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}


//Work sans
@font-face {
  font-family: 'Work Sans';
  src: url('../assets/fonts/work_sans/hinted-WorkSans-Bold.woff2') format('woff2'),
  url('../assets/fonts/work_sans/hinted-WorkSans-Bold.woff') format('woff'),
  url('../assets/fonts/work_sans/hinted-WorkSans-Bold.svg#WorkSans-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Work Sans';
  src: url('../assets/fonts/work_sans/hinted-WorkSans-Regular.woff2') format('woff2'),
  url('../assets/fonts/work_sans/hinted-WorkSans-Regular.woff') format('woff'),
  url('../assets/fonts/work_sans/hinted-WorkSans-Regular.svg#WorkSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
