//COLORS
$grey-base: #333333;
$grey: #b7b7b7;
$greyish: #b4b4b4;
$grey-light: #EBEEED;
$grey-lightest: #f9f9f9;
$grey-lightest2: #f2f2f2;
$grey-lightest3: #fafafa;
$red: #ff0000;

// ##
$black: #303030;
$black-two: #232323;
$black-three: #0f0f0f;
$blackest: #090909;
$grey-dark-top: #171717;
$grey-dark-bottom: #0f0f0f;
$brownish-grey: #887b5c;
$brownish-grey-two: #6e6e6e;
$pinkish-grey: #d6d1c6;
$pinkish-grey-two: #cbcbcb;
$warm-grey: #969696;
$warm-grey-two: #808080;
$putty: #c5b48d;
$putty-two: #c1b394;
$fawn: #d0b179;
$sand: #e0bf84;
$beige: #dec795;
$greyish-brown: #585858;
$greyish-brown-two: #3f3b32;
$very-light-brown: #dac79b;



  // fonts

$worksans: 'Work Sans', sans-serif;
$spacemono: 'Space Mono', sans-serif;

// Extends

