@mixin container {
  padding: 0 32px;
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1280px;

  @include res(tablet) {
    padding: 0 65px;
  }

  @include res(desktop){
    padding: 0 115px;
  }

  @include res(xlarge){
    padding: 0 40px;
  }
}

@mixin view-cover {
  position: absolute;
  top: -100%;
  bottom: -100%;
  left: -100%;
  right: -100%;
  margin: auto;
  min-width: 100%;
  min-height: 100%;
}

@mixin full-area {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

@mixin grey-dark-gradient {
  background-image: linear-gradient(to bottom, $grey-dark-top, $grey-dark-bottom);
}

@mixin grey-darkest-gradient {
  background-image: linear-gradient(to bottom, $black-two, $black-three 53%);
}