<template>
  <div id="app" :class="appStyleMod">
    <div class="header">
      <router-link to="/" class="header__logo">
        <img src="@/assets/images/logo.svg" alt="">
      </router-link>
      <div class="nav">
        <router-link class="nav__item" exact active-class="active" to="/">Home</router-link>
        <router-link class="nav__item" exact active-class="active" to="/stats">Your Stats</router-link>
        <router-link class="nav__item" exact active-class="active" to="/faq">FAQ</router-link>
      </div>
    </div>

    <router-view/>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        appStyleMod: ''
      }
    },
    watch: {
      '$route' () {
        this.appStyleMod = this.$route.path === '/faq' ? 'faq-page' : '';
      }
    }
  }
</script>

<style lang="scss">

</style>
